@keyframes notify-sucess {
    0% {
        opacity: 0;
        transform: translate(-50%, -25%);
    }

    25% {
        opacity: 1;
        transform: translate(-50%, 10%);
    }

    50% {
        opacity: 1;
        transform: translate(-50%, 10%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -25%);
    }
}